.support-container {
    padding-top: 2%;
    background: #f7f7f7;
    height: 100%;
    .support-row {
        margin: 0;
        .support-col {
            left: 0;
            right: 0;
            margin: 0 auto;
            // display: flex;
            // justify-content: center;
            .support-form {
                width: 100%;
                padding: 5px 30px 30px 30px;
                .all-fields {
                border: 1px solid #d8d8d8;
                box-shadow: 0px 15px 10px -15px #999;
                background: white;
                .heading-text {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                    margin: 10px 0;
                } 
                .form-input-fields {
                    left: 0;
                    right: 0;
                    margin: 0 auto 20px auto;
                    .form-input-fields-textarea {
                        min-height: 100px;
                    }
                }
                .send-feedback-form {
                    background: #ea7676;
                    color: white;
                    margin: 10px 0 20px 0;
                    width: 130px;
                }
            }
            }
        // }
        }
    }
}