<div class="support-container">
    <div class="row support-row">
        <div class="col-6 support-col">
            <div class="row">
            <form class="support-form" [formGroup]="supportForm" (ngSubmit)="onSubmit()">
                <div class="all-fields">
                <div class="heading-text">Contact Us Form</div>
                <div class="form-group form-input-fields col-8">
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>

                <div class="form-group form-input-fields col-8">
                    <input type="text" class="form-control" formControlName="subject" placeholder="Enter Subject"
                    [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"/>
                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Subject is required</div>
                    </div>
                </div>

                <div class="form-group form-input-fields col-8">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                    </div>
                </div>
                <div  class="form-group form-input-fields col-8">
                    <textarea matInput formControlName="feedback" placeholder="Write Your Feedback or Query" class="form-control form-input-fields-textarea input"
                    [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }"></textarea>
                    <div *ngIf="submitted && f.feedback.errors" class="invalid-feedback">
                        <div *ngIf="f.feedback.errors.required">This field is required</div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn send-feedback-form">Send</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>