<div class="confirm-password-container">
    <div class="all-fields">
        <div class='find-accout-head'>
            <span class="heading-text">Set Your Password</span>
        </div>
        <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
            <div class="form-row input-field-row">
                <!-- <div class="form-group col-4"></div> -->
                <div class="form-group input-field-col col-10">
                    <input class="form-control input-field-confirm-password"
                        placeholder="Enter your email address" type="text" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
                    <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                        <div *ngIf="formControls.email.errors.required">Email is required</div>
                        <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-row input-field-row">
                <!-- <div class="form-group col-4"></div> -->
                <div class="form-group input-field-col col-10">
                    <input class="form-control input-field-confirm-password" placeholder="Password" type="password"
                        id="password" formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': submitted && formControls.newPassword.errors }" />
                    <div *ngIf="submitted && formControls.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="formControls.newPassword.errors.minlength">Password must be at least 6 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row input-field-row">
                <!-- <div class="form-group col-4"></div> -->
                <div class="form-group input-field-col col-10">
                    <input _ngcontent-c0="" class="form-control input-field-confirm-password"
                        placeholder="Confirm Password" type="password" id="cpassword" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" />
                    <div *ngIf="submitted && formControls.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="formControls.confirmPassword.errors.minlength">Password must be at least 6
                            characters
                        </div>
                    </div>
                    <div class="error" *ngIf="passwordNotMatch">
                        <div>Confirm Password does not match with password.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class='submit-button-div'>
                    <button type="submit" class="submit-button  btn btn-primary">Update
                        Password</button>
                </div>
            </div>
        </form>
    </div>
</div>