.confirm-password-container {
    background: #f7f7f7;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    text-align: center;
    .all-fields {
    width: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 15px 10px -15px #999;
    background: #FFFFFF;
    padding-bottom: 23px;
    
    .find-accout-head {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .input-field-row {
        display: flex;
        justify-content: center;
       .input-field-confirm-password {
          width: 90%;
          left: 0;
          right: 0;
          margin: 0 auto;
      }
   }
    .submit-button-div {
        margin-top: 20px;
        .submit-button {
            background: #ea7676;
            border: 1px solid transparent;
            width: 48%;
        }
    }
    .form-control:focus {
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
    }
  }
}
