.logIn-container {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    // padding-top: 13.5%;
    width: 50%;
    margin-left: 25%;
    .inner-div {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 15px 10px -15px #999;
    padding: 20px 60px;
    background-color: #ffffff;
    margin-bottom: 5%;
    .logIn-header {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .signup-text {
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        text-align: center;
        width: 65%;
        left: 0;
        right: 0;
        margin: 5% auto;
        box-shadow: 0px 15px 10px -15px #999;
        padding: 10px;
        font-size: 16px;
        background: white;
        .theme-signup-text {
            color: #ea7676;
            font-size: 18px;
            cursor: pointer;
            font-weight: 600;
        }
    }
    .facebook-btn {
        margin-top: 10px;
        margin-left: -6px;
        margin-bottom: 30px;
        width: 100%;
        background: #3b5998;
        border-color: #3b5998;
        color: white;
    }
    .google-btn {
        margin-top: 10px;
        margin-left: 6px;
        margin-bottom: 30px;
        width: 100%;
        background: #D44638;
        border-color: #D44638;
        color: white;
    }
    .login-btn {
        border: 1px solid transparent;
        background: #ea7676;
        border-radius: 5px;
        width: 40%;
        margin-top: 15px;
        color: white;
    }
    .social-icon {
        border-right: 1px solid;
        margin-right: 10px;
        padding-right: 10px;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .input-field-row {
        display: flex;
        justify-content: center;
    }
    .form-control:focus {
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
    }
    }
}
@media only screen and (max-width: 600px) {
    .logIn-container {
        // padding-top: 20.5% !important;
        background-color: #ffffff !important;
        width: 100% !important;
        margin-left: 0 !important;
        .inner-div{
            border: none !important;
            box-shadow: none !important;
            padding: 0 !important;
            margin-bottom: 0 !important;
            .input-field-col {
                flex: 0 0 76.666667% !important;
                max-width: 76.666667% !important;
            }
            .login-btn {
                width: 50% !important;
            }
            .facebook-btn {
                margin-bottom: 10px !important;
                width: 80% !important;
                margin-left: 0 !important;
            }
            .google-btn {
                margin-left: 0px !important;
                width: 80% !important;
            }
           .signup-text {
               width: 75% !important;
           }
         }
    }
}