<div class="logIn-container">
    <div class="inner-div">
    <div class='logIn-header'>
        <span class="span-style">Log In</span>
    </div>

    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="form-row input-field-row">
            <div class="form-group col-8 input-field-col">
                <input type="text" class="form-control" formControlName="userName" placeholder="User Name"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">User Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-row input-field-row">
            <div class="form-group col-8 input-field-col">
                <input type="password" class="form-control" formControlName="Password" placeholder="Password"
                    [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <div *ngIf="f.Password.errors.required">Password is required</div>
                    <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-light mr-1 login-btn">Log In</button>
        </div>
        <div class="signup-text">
            <div style="font-size: 12px;">Not Registered With Us ?</div>
            <div class="theme-signup-text" (click)="openSignUp()">Sign Up</div>
        </div>
    </form>
    <p class="text-center mt-20">-------------------- OR --------------------</p>
    <div class="text-center form-row input-field-row">
        <div class="col-lg-6 col-sm-12">
            <button color="fb" class="btn btn-outline-light facebook-btn" (click)="signInWithFB()">
                <fa-icon [icon]="faFacebook" class="social-icon"></fa-icon>Log in with Facebook
            </button>
        </div>
        <div class="col-lg-6 col-sm-12">
            <button color="fb" class="btn btn-outline-light google-btn" (click)="signInWithGoogle()">
                <fa-icon [icon]="faGoogle" class="social-icon"></fa-icon>Log in with Gmail
            </button>
        </div>
    </div>
</div>
</div>