.without-container {
    .confession-page {
        background:  #ffffff;
        padding: 2% 0;
        .personal-info{
            margin-top: 15px;
            font-size: 24px;
            font-weight: 600;
        }
        .full {
            height: 100%;
        }
        .profile-fixed-left-side {
            height: 100%;
            text-align: center;
            border-right: 1px solid #b9b9b9;
            .right-border {
            .image-upload {
                margin-top: 6%;
                margin-bottom: 3%;
                .avatar {
                    vertical-align: middle;
                    width: 150px;
                    height: 150px;
                    border-radius: 100px;
                    box-shadow: 0 8px 17px 0 rgba(173, 173, 173, 0.2), 0 6px 7px 0 rgba(117, 117, 117, 0.19);
                } 
                .new-material-class {
                    position: absolute;
                    left: 210px;
                    cursor: progress
                }
                #file-input {
                    display: none;
                }
            }
                .person-name {
                    font-weight: 600;
                    font-size: 30px;
                }
            }
        }
        .profile-right-side {
            height: 100%;
            .input {
                margin: 25px 0 0 10%;
                height: 180px;
                width: 80%;
            }
            .send-confession {
                border: 1px solid transparent;
                background: #ea7676;
                border-radius: 5px;
                width: 20%;
                color: white;
                float: right;
                margin-right: 13%;
                margin-top: 30px;
            }        
        }
    }
}   
::ng-deep .red-snackbar{
    min-width: 80% !important;
    margin-right: 150px !important; 
    background-color:#ea7676;
    color:white;
    margin-top: 100px !important;
}