<div class="without-container">
    <div class="container confession-page">
        <div class="row full">
            <div class="col-lg-4 profile-fixed-left-side">
                <div class="right-border">
                    <div class="image-upload">
                        <label for="file-input">
                            <div *ngIf="profilePhotoPath == '' || profilePhotoPath == undefined ">
                                <img id="profile-pic" src="./assets/images/user.png" alt="Avatar" class="avatar" />
                            </div>
                            <div *ngIf="profilePhotoPath !='' && profilePhotoPath != undefined">
                                <img id="profile-pic" src="{{profilePhotoPath}}" alt="Avatar" class="avatar" />
                            </div>
                        </label>
                        <input id="file-input" type="file" />
                    </div>
                    <div class="person-name">{{fname}} {{lname}}</div>
                    <div class="person-email">{{email}}</div>
                </div>
            </div>
            <div class="col-lg-8 profile-right-side">
                <textarea matInput placeholder="Write Your Confession..." class="form-control input"
                    [(ngModel)]="confession"></textarea>
                <button class="btn send-confession" (click)='addConfession()'>Send</button>
            </div>
        </div>
    </div>