<div class="row signup-container">
    <div class="col-6 left-side-col">
        <div class="row left-side-design">
            <div class="col-12">
                <div class="first">
                    Post
                </div>
            </div>
            <div class="col-12">
                <div class="second">
                    Your Confession
                </div>
            </div>
            <div class="col-12">
                <div class="third">
                    Anonymously
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 right-side-col">
        <div class="row">
            <div class="form-group col-12 signup-heading">
                <span class="signup-text">Sign Up</span>
            </div>
            <div class="col-12">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-row newclass">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row newclass">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" formControlName="userName" placeholder="User Name"
                                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">User Name is required</div>
                                <div *ngIf="f.userName.errors.maxlength">User Name is too long</div>
                                <div *ngIf="f.userName.errors.pattern && !f.userName.errors.maxlength">User name allow
                                    only characters, number, underscore(_) and dot(.)</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" formControlName="email" placeholder="Email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row newclass">
                        <div class="form-group col-6">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                placeholder="Confirm Password" pattern="{{ f.password.value }}"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="!f.pattern && !f.confirmPassword.errors.required"> Password & Confirm
                                    Password does not match.</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-light signup-button mr-1">Register</button>
                        <div class="forgot-password" (click)="openForget()">Forgot Password ?</div>
                    </div>
                    <div class="login-text">
                        <div>Already have an account ?</div>
                        <div class="theme-login-text" (click)="openLogIn()">Log In</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>