.signup-container {
    // background: #f7f7f7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    // padding-top: 9.5%;
    .left-side-design {
        position: relative;
        top: 15%;
        text-align: center;
        .first {
            font-size: 42px;
            position: relative;
            font-family: none;
            font-weight: 600;
        }
        .second {
            font-size: 42px;
            position: relative;
            font-family: none;
            font-weight: 600;
        }
        .third {
            font-size: 42px;
            position: relative;
            font-family: none;
            font-weight: 600;
        }
    }
    .signup-heading {
        text-align: center;
        margin-top: 16px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .newclass {
        margin-bottom: 20px;
    }
    .signup-button {
        border: 1px solid transparent;
        background: #ea7676;
        width: 30%;
        border-radius: 5px;
        margin-top: 15px;
        color: white;
    }
    .signup-button:hover {
        box-shadow: 0px 1px 5px #00000029;
    }
    .login-text {
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        text-align: center;
        width: 50%;
        left: 0;
        right: 0;
        margin: 5% auto;
        box-shadow: 0px 15px 10px -15px #999;
        padding: 10px;
        font-size: 16px;
        background: white;
        .theme-login-text {
            color: #ea7676;
            font-size: 18px;
            cursor: pointer;
            font-weight: 600;
        }
        
    }
    .forgot-password {
        margin-top: 10px;
        color: #ea7676;
        text-align: right;
        font-size: 14px;
        cursor: pointer;
    }
    .form-control:focus {
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
    }
}
::ng-deep .red-snackbar{
    min-width: 80% !important;
    margin-right: 150px !important; 
    background-color:#ea7676;
    color:white;
    margin-top: 100px !important;
}
@media only screen and (max-width: 600px) {
    .signup-container {
        // padding-top: 20.5% !important;
        .left-side-col {
            display: none !important
        }
        .right-side-col {
            padding: 0 !important;
        .signup-button {
            width: 45% !important;
            margin-top: 0 !important;
        }
        .login-text {
            width: 100% !important;
        }
     }
    }
}