<div class="without-container">
    <div class="container profile-page">
        <div class="loader-div">
            <app-loader *ngIf="showSpinner"></app-loader>
        </div>
        <div class="row profile-upper-part">
            <div class="col-lg-4 col-sm-12 profile-fixed-left-side">
                <!-- <div class="personal-info">Personal Info</div> -->
                <div class="image-upload">
                    <label for="file-input">
                        <div *ngIf="imageName == '' && profilePhotoPath ==''">
                            <img id="profile-pic" src="./assets/images/user.png" alt="Avatar" class="avatar" />
                        </div>
                        <div *ngIf="imageName !=''">
                            <img id="profile-pic" src="http://localhost:3000/get-profile-photo/{{imageName}}"
                                alt="Avatar" class="avatar" />
                        </div>
                        <div *ngIf="profilePhotoPath !='' && imageName == ''">
                            <img id="profile-pic" src="{{profilePhotoPath}}" 
                            alt="Avatar" class="avatar" />
                        </div>
                    </label>
                    <input id="file-input" type="file" (change)="submitImageData($event)" />
                </div>
                <div class="person-name">{{fname}} {{lname}}</div>
                <div class="person-email">{{email}}</div>
            </div>
            <div class="col-lg-8 col-sm-12 profile-right-side">
                <div class="row">
                    <div class="col-lg-12 search-input-col">
                        <!-- <input class="form-control search-input" type="text" placeholder="Search" aria-label="Search"> -->
                        <form class="new-form">
                            <div class="form-control input-div">
                                <input type="text" placeholder="Search" aria-label="user" class="input"
                                    [matAutocomplete]="auto" [formControl]="userControl" (keyup)="search($event)">
                                <span class="icon">
                                    <fa-icon [icon]="faSearchengin"></fa-icon>
                                </span>
                            </div>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let user of filteredUsers" class="search-user"
                                    [value]="user.firstName" (click)="goToUserPage(user)">
                                    <img *ngIf="user.profilePhotoPath" class="search-pic"
                                        src="{{user.profilePhotoPath}}" />
                                    <img *ngIf="!user.profilePhotoPath" class="search-pic"
                                        src="./../../assets/images/user.png" />
                                    <div class="search-firstName">
                                        {{user.firstName}} {{ user.lastName}}
                                    </div>
                                    <div *ngIf="user.userName" class="search-user-name">
                                        {{user.userName}}
                                    </div>
                                    <div *ngIf="!user.userName" class="search-user-name">
                                        {{user.email}}
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </form>
                    </div>
                </div>
                <div class="row messages-row">
                    <div class="col-lg-4 messages-col">
                        <div class="messages">
                            <div class="message-heading">
                                Received Messages
                            </div>
                            <div class="image-icon">
                                <img src="./assets/images/receive-message.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  messages-col">
                        <div class="messages">
                            <div class="message-heading">
                                Sent Messages
                            </div>
                            <div class="image-icon">
                                <img src="./assets/images/send-message.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  messages-col">
                        <div class="messages">
                            <div class="message-heading">
                                New Messages
                            </div>
                            <div class="image-icon">
                                <img style="margin-top: 6px;" src="./assets/images/new-message.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container messages-container">
        <div class="row message-part-row">
            <div class="col-lg-12">
                <div class="heading-text">Received Messages</div>
            </div>
            <div class="col-lg-8 confession-part">
                <div class="row" *ngFor='let msg of receiveMessage'>
                    <div class="col-lg-12 confession-text">
                        <span> <img class="quotation-image" src="./assets/images/left-quote.png" /></span><span
                            class="confession-text-span">{{msg}}</span>
                        <span> <img class="quotation-image" src="./assets/images/right-quote.png" /></span>
                    </div>
                    <!-- <div class="col-lg-12 confession-text">
                        <span> <img class="quotation-image" src="./assets/images/left-quote.png" /></span><span
                            class="confession-text-span">For a long time,' Nico said, 'I had a crush on you</span>
                        <span> <img class="quotation-image" src="./assets/images/right-quote.png" /></span>
                    </div>
                    <div class="col-lg-12 confession-text">
                        <span> <img class="quotation-image" src="./assets/images/left-quote.png" /></span><span
                            class="confession-text-span">For a long time,’ Nico said, ‘I had a crush on you. I just
                            wanted you to know.’ Percy looked at Nico. Then at Annabeth, as if to check that he’d heard
                            correctly. Then back at Nico.</span>
                        <span> <img class="quotation-image" src="./assets/images/right-quote.png" /></span>
                    </div>
                    <div class="col-lg-12 confession-text">
                        <span> <img class="quotation-image" src="./assets/images/left-quote.png" /></span><span
                            class="confession-text-span">But the second she opened her eyes and looked at me, I knew.
                            She was either going to be the death of me . . . or she was going to be the one who finally
                            brought me back to life</span>
                        <span> <img class="quotation-image" src="./assets/images/right-quote.png" /></span>
                    </div>
                    <div class="col-lg-12 confession-text">
                        <span> <img class="quotation-image" src="./assets/images/left-quote.png" /></span><span
                            class="confession-text-span">But the second she opened her eyes and looked at me, I knew.
                            She was either going to be the death of me . . . or she was going to be the one who finally
                            brought me back to life</span>
                        <span> <img class="quotation-image" src="./assets/images/right-quote.png" /></span>
                    </div> -->


                </div>
            </div>
        </div>
    </div>
</div>