.without-container {
    background: #f5f5f5;
    // margin-top: 7.5%;
    .profile-page {
        background:  white;
        z-index: -10;
        // padding-top: 9.5%;
        .profile-upper-part {
            padding: 4% 0;
        .personal-info{
            margin-top: 15px;
            font-size: 24px;
            font-weight: 600;
        }
        .profile-fixed-left-side {
            height: auto;
            text-align: center;
            border-right: 1px solid #e6e6e6;
            padding-top: 15px;
            .image-upload {
                margin-bottom: 3%;
                .avatar {
                    vertical-align: middle;
                    width: 150px;
                    height: 150px;
                    border-radius: 100px;
                    box-shadow: 0 8px 17px 0 rgba(173, 173, 173, 0.2), 0 6px 7px 0 rgba(117, 117, 117, 0.19)
                } 
                .new-material-class {
                    position: absolute;
                    left: 130px;
                    cursor: progress
                }
                #file-input {
                    display: none;
                }
            }
                .person-name {
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: capitalize
                }
            
        }
        .profile-right-side {
            height: auto;
            padding: 0 30px;
            .search-input-col {
                margin-top: 5%;
                display: flex; 
                justify-content: center;
                .new-form {
                    width: 50%
                }
                .search-input {
                    width: 60%;
                }
            }
        .messages-row {
            margin-top: 12%;
            text-align: center;
            .messages-col {
                height: 115px;
                .messages {
                    border: 1px solid #dcdcdc;
                    font-weight: 600;
                    font-size: 16px;
                    box-shadow: 0px 15px 10px -15px #999;
                    padding: 7px;
                    .message-heading {
                        border-bottom: 1px solid #dcdcdc;
                    }
                    .image-icon {
                        height: 64px;
                    }
                }
            }
        }
        }
    }
  }
    .messages-container {
        margin-top: 20px;
        background: white;
        padding: 20px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        .message-part-row { 
            margin: 0;
            .heading-text {
                font-size: 26px;
                margin-bottom: 20px;
            }
            .confession-part {
                padding: 0 25px;
                margin-left: 16.66%;
                text-align: center;
                .confession-text {
                    border: 1px solid #e6e6e6;
                    font-weight: 600;
                    font-size: 16px;
                    box-shadow: 0px 15px 10px -15px #999;
                    padding: 15px;
                    margin-bottom: 20px;
                    .confession-text-span {
                        margin: 0 5px;
                    }
                    .quotation-image {
                        width: 2%;
                    }
                }
            }
        }
    }
}
::ng-deep .red-snackbar{
    min-width: 80% !important;
    margin-right: 150px !important; 
    background-color:#ea7676;
    color:white;
    margin-top: 100px !important;
}
.input-div {
    padding-left: 0px;
    .input {
        float: left;
        height: 100%;
        width: 48%;
        margin-top: -7px;
        border: none;
        background: none;
        outline: none;
        padding: 10px;
        line-height: 40px;
        position: absolute;
    }
    .icon {
        width: 4%;
        float: right;
    }
}
.search-user {
    border-bottom: 1px solid rgb(221, 220, 220) ;
    padding-top: 10px;
    .search-pic {
        width: 35px;
        height: 35px;
        float: left;
        margin-top: 7px;
        border-radius: 50%;
    }
    .search-firstName{
        float: left;
        width: 70%;
        font-size: 14px;
        margin: -10px 0 0 10px;
        font-weight: 600;
        // line-height: 42;
    }
    .search-user-name {
        float: left;
        font-size: 12px;
        margin: -30px 0 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    .profile-upper-part {
        padding: 2% 0 8% 0 !important;
    }
    .messages-row {
        display: none !important;
    }
    .new-form {
        width: 90% !important;
    }
}