.dashboard-container {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    .head {
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        box-shadow: 0px 15px 10px -15px #999;
        width: 100%;
        height: 370px;
        margin: 10px;
        padding-top: 10px;
        text-align: center;
        .img {
            width: 100%;
            height: 370px;
            margin: 0px;
            padding-bottom: 10px;
        }
    }
    .content {
        float: left;
        margin: 10px;
        // margin: -7% 10px 10px 10px;
        text-align: center;
        padding: 0 2%;
        height: max-content;
        .heading-left {
            font-weight: bolder;
            font-size: 20px;
        }
    }
    .button {
        width: 50%;
        height: 50%;
    }
   
}
// @media only screen and (max-width: 600px) {
//     .dashboard-container { 
//         // padding: 20.5% 0 0 0 !important;
//     }
// }