<div class="row dashboard-container">
    <!-- <div class='container-fluid'> -->
    <div class='head'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="../../assets/background1.jpg" alt="lOVE" class="img">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/friends.jpg" alt="friends" class="img">
                <div class="carousel-caption">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="content">
        <p class="heading-left text-center">
            Confess Your Feelings!
        </p>
        <p>
            The site is a platform where in you can anonymously express your emotions. Say whatever you want to,
            that
            too without any fear of getting discovered. Whether they are your feelings for the ones you hold
            dear,
            or
            you want to get your frustration out, this site is here to help you out. Visit us and you'll leave
            with
            a
            lighter heart.
        </p>
    </div>
</div>