.container {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    padding: 20px;
    .find-accout-head {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        padding-top: 3%;
    }
    .find-btn {
        border: 1px solid transparent;
        background: #ea7676;
        border-radius: 5px;
        width: 40%;
        margin-top: 15px;
        color: white;
    }
    .input-field-row {
        display: flex;
        justify-content: center;
    }
    .form-control:focus {
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
    }
}
