<div class="container">
    <div class='find-accout-head'>
        <span class="span-style">Find Your Account</span>
    </div>
    <form action="" [formGroup]="FindEmailForm" (ngSubmit)="findEmail()">
        <div class="form-row input-field-row">
            <div class="form-group col-9">
                <input class="form-control" placeholder="Enter your email address" type="text"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                    <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class='text-center'>
                <button type="submit" class="btn btn-outline-light find-btn">Find Account</button>
            </div>
        </div>
    </form>
</div>
