/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
.loader-div {
    position: absolute;
    left: 50%;
    top: 50%
}
body { 
    margin: 10% 0 0 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f7f7f7;    
    height: 85%;
}
@media only screen and (max-width: 600px) {
    body {
    margin: 20% 0 0 0 !important;
    height: 90% !important;
    }
}
app-common-header {
    top: 0;
    position: fixed;
    z-index: 1001;
    width: 100%;
}
@import "~bootstrap/dist/css/bootstrap.css"