<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top header-container">
    <div class="container">
        <a class="navbar-brand site-name" href="#">
            Omologia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div *ngIf="!userHasLoggedIn" style="width:100%;">
                <ul class="navbar-nav ml-auto navbar-nav-userNotLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" href="signup" (click)="closeNavbar()">Signup/Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us" (click)="closeNavbar()">Contact</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="userHasLoggedIn" style="width:100%;">
                <ul class="navbar-nav ml-auto navbar-nav-userLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" (click)="closeNavbar()">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change-password" (click)="closeNavbar()">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us" (click)="closeNavbar()">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" (click)="logoutClicked()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>