@media only screen and (max-width: 600px) {
  .header-container {
    border: 1px solid #f19090 !important;
    width: 100% !important;
    background: #ea7676 !important;
    position: fixed !important;
    z-index: 99 !important;
    padding: 10px 20px !important;
    .site-name {
      font-size: 20px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .navbar-nav-userNotLoggedIn {
    padding-left: 81% !important;
  }
  .navbar-nav-userLoggedIn {
    padding-left: 59% !important;
  }
}
.header-container {
    padding: 30px;
    border: 1px solid #f19090;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #999;
    background: #ea7676;
    // position: fixed;
    z-index: 99;
    .site-name {
      font-size: 28px;
    }
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF !important;
}
.navbar-collapse.collapse.in {
  display: block !important;
}